.tooltip-element {
    position: absolute;
    /* width: 150px; */
    min-width: 9vw;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10000;
    /* padding: 3px; */
}
.element-title {
    background-color: #a3a0a0ad;
    padding: 3px;
    font-size: 16px;
}
.element-body {
    padding: 3px;
    font-size: 12px;
}

.tooltip-element::before, .tooltip-element::after {
    content: ''; 
    position: absolute;
    /* left: 65px; */
    left: calc(9vw / 2.5); 
    bottom: -18px;
    border: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0);
   }
   .tooltip-element::after {
    border-top: 10px solid white;
    bottom: -17px; 
   }